<% @places.each do |p| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to p.name, place_path(p) %></h1>
    <i><%= p.address %></i><br /><br />
    <p><%= p.description %><br />
    <% if p.user.present? %>
      <small><%= p.user.email %></small>
    <% end %>
  </div>
  <% if p.comments.present? %>
    <div class="col-12">
      <blockquote>
        <% if p.comments.last.humanized_rating.present? %>
          <b><%= p.comments.last.humanized_rating %></b> - 
        <% end %>
        <%= p.comments.last.message%>
        <small><%= p.comments.last.user.email %></small>
      </blockquote>
    </div>
  <% end %>
  <% if p.photos.present? %>
    <div class="col-12">
      <blockquote>
        <div class="photos-index float-right">
          <%= image_tag p.photos.first.picture.to_s, class: 'index-image-size' %>
        </div>
      </blockquote>
  <% end %>

  <div class="clear"></div>


  <div class="col-10 offset-1">
  	<%= will_paginate @places, id: 'pagination' %>
  </div>
<% end %>