<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider1.jpg', class: 'd-block img-fluid'%>
      <div class="carousel-caption d-none d-md-block">
        <h3>Nonstop miscommunicated hijinx!</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider2.jpg', class: 'd-block img-fluid'%>
      <div class="carousel-caption d-none d-md-block">
        <h3>Zyggie piggie!!</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider3.jpg', class: 'd-block img-fluid'%>
      <div class="carousel-caption d-none d-md-block">
        <h3>You'll have a halal of a time!</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @places.each do |p| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to p.name, place_path(p) %></h1>
    <i><%= p.address %></i><br /><br />
    <p><%= p.description %><br />
    <% if p.user.present? %>
      <small><%= p.user.email %></small>
    <% end %>
  </div>
  <% if p.comments.present? %>
    <div class="col-12">
      <blockquote>
        <% if p.comments.last.humanized_rating.present? %>
          <b><%= p.comments.last.humanized_rating %></b> - 
        <% end %>
        <%= p.comments.last.message%>
        <small><%= p.comments.last.user.email %></small>
      </blockquote>
    </div>
  <% end %>
  <% if p.photos.present? %>
    <div class="col-12">
      <blockquote>
        <div class="photos-index float-right">
          <%= image_tag p.photos.first.picture.to_s, class: 'index-image-size' %>
        </div>
      </blockquote>
  <% end %>

  <div class="clear"></div>


  <div class="col-10 offset-1">
  	<%= will_paginate @places, id: 'pagination' %>
  </div>
<% end %>